
.sectionProducts{
  padding: 30px 0px;
  padding-bottom: 130px;
  width: 100%;
  background-color: var(--background-2);
  
}
.ProductsTitle{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: var(--main-bg-color);
  text-align: center;
}

.sub-title-product{
  margin-top: 0px!important;
}

.card-Products{
  box-shadow: 0px 8px 24px #42533B66;
opacity: 1;
border-bottom: solid 5px ;
border-bottom-color: var(--main-bg-color);
padding: 0px 10px;
}

.text-products{
   color: var(	--text-title-color);
   font-size: 21px;
   opacity: 1;
   margin-top: 20px;
   text-align: left;
   letter-spacing: 0.29px;
   width: 200px;
   font-weight: 700;
}
.sub-text-products{
  color:#343434;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  letter-spacing: 0.22px;
  width: 228px;
  margin-bottom: 20px;
}


#carouselProducts .carousel-control-next-icon {
  background-image: url(../../Images/Icon\ awesome-chevron-right.svg);
}

#carouselProducts .carousel-control-prev-icon {
  background-image: url(../../Images/Icon\ awesome-chevron-left.svg);
}

@media (max-width: 600px) {

  .sub-title-product{
    font-size: 36px;
    text-align: center;
  }
  
}