:root {
  --main-bg-color: #E0752F;
	--text-title-color: #343434;
	--background-1: #F2F4F1;
}

header {
  position: absolute;
  z-index: 10;
  width: 100%;
	border-bottom: solid 1px var(--main-bg-color);
}
header .d-flex {
	display: flex!important;
	justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

	background-color: transparent;
}

.nav-link{
	color: white;
}

.active {
  color: white !important;

	border-bottom: solid 3px var(--main-bg-color) !important;
}

.bg-light {
  background-color: transparent !important;
}
.navbar-brand {
  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
}
.nav-item {
  font-weight: 500;
  text-transform: uppercase;
}

.nav-item .nav-link:hover {
  background-color: var(--main-bg-color);
  color: white !important;
}

.logo {
width: 128px;
}

.imagenes{
	width: 100%;
	height: 950px;
}

.carousel-text {
  position: absolute;
  top: 35%;
  left: 10%;

}

.fontSlider {
	width: 750px;
	text-align: left;
	font-size: 70px;
	letter-spacing: 0.67px;
	font-weight: bold;
	margin-bottom: -21px;
	color: #FFFFFF;
	opacity: 1;
	font-style: normal;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fontSlider2 {
	width: 750px;
	text-align: left;
	font-size: 70px;
	letter-spacing: 0.67px;
	font-weight: bold;
	color: #FFFFFF;
	opacity: 1;
	font-style: normal;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.subfontSlider {
	margin-top: 40px;
	width: 480px;
	text-align: left;
	font-size: 21px;
	letter-spacing: 0.67px;
	color: #FFFFFF;
	opacity: 1;
}

.carousel-indicators{
margin-left: 0% !important;
	width: 150px;
	margin-bottom: -6rem;
	
}

.btn-hero{
	margin-top: 40px;
	background-color: var(--main-bg-color);
	color: white;
	border-radius: 25px;
	opacity: 1;
	padding: 10px 40px;
}